{% extends 'layouts/base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Directo de USA {%endblock%}</title>
    {%block content%}
            <!-- Header-->
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-12 col-sm-8 col-lg-4 mx-auto text-center">
                    <img src="{% static 'img/heroo.webp'%}" class="d-block img-fluid" loading="lazy">
                </div>
                <div class="col-lg-8">
                    <h1 class="display-5 lh-1 mb-3 text-center">¿Que esperas para tener tu <span class="custom-font">iPhone</span>?</h1>
                </div>
                </div>
            </div>
            <!-- Section 15 -->
            <div class="text-center">
                <h2 class="pb-2 border-bottom mx-auto mb-2 custom-line">iPhone 15 Series</h2>  
            </div>
            <div class="text-center mb-2">
                <span>Los iPhones más recientes y los mejores del mercado.</span>
            </div>

            <section class="py-0 mt-0">
                <div class="container px-4 px-lg-5 mt-0">
                    <div class="row justify-content-center">
                        <div class="col-12 mb-5 col-sm-3">
                            <div class="card h-100">
                                <!-- Product image -->
                                <img class="card-img-top" src="{% static 'img/15.webp'%}" alt="..." />
                                <!-- Product details -->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name -->
                                        <h5 class="fw-bolder">Apple iPhone 15</h5>
                                        <!-- Product price -->
                                        {% if iphone15.0.1 != 0 %}
                                            <span class="fw-bold">Desde:</span> {{iphone15.0.1}} Gs
                                    </div>
                                </div>
                                <!-- Product actions -->
                                <div class="card-footer pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 15'%}">Ver producto</a></div>
                                </div>
                                {% else %}
                                    <span class="fw-bold">No disponible!</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 mb-5 col-sm-3">
                            <div class="card  h-100">
                                <!-- Product image -->
                                <img class="card-img-top" src="{% static 'img/15plus.webp'%}" alt="..." />
                                <!-- Product details -->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name -->
                                        <h5 class="fw-bolder">Apple iPhone 15 Plus</h5>
                                        <!-- Product price -->
                                        {% if iphone15plus.0.1 != 0 %}
                                            <span class="fw-bold">Desde:</span> {{iphone15plus.0.1}} Gs
                                    </div>
                                </div>
                                <!-- Product actions -->
                                <div class="card-footer pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 15 Plus'%}">Ver producto</a></div>
                                </div>
                                {% else %}
                                    <span class="fw-bold">No disponible!</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-12 mb-5 col-sm-3">
                            <div class="card h-100">
                                <!-- Sale badge -->
                                <!-- Product image -->
                                <img class="card-img-top" src="{% static 'img/15pro.webp'%}" alt="..." />
                                <!-- Product details -->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name -->
                                        <h5 class="fw-bolder">Apple iPhone 15 Pro</h5>
                                        <!-- Product price -->
                                        {% if iphone15pro.0.1 != 0 %}
                                            <!-- Product actions -->
                                            <span class="fw-bold">Desde:</span> {{iphone15pro.0.1}} Gs
                                    </div>
                                </div>
                                <div class="card-footer pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 15 Pro'%}">Ver producto</a></div>
                                </div>
                                {% else %}
                                    <span class="fw-bold">No disponible!</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 mb-5 col-sm-3">
                            <div class="card h-100">
                                <!-- Sale badge -->
                                <!-- Product image -->
                                <img class="card-img-top" src="{% static 'img/15pro max.webp'%}" alt="..."/>
                                <!-- Product details -->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name -->
                                        <h5 class="fw-bolder">Apple iPhone 15 Pro Max</h5>
                                        <!-- Product price -->
                                        {% if iphone15promax.0.1 != 0 %}
                                            <!-- Product actions -->
                                            <span class="fw-bold">Desde:</span> {{iphone15promax.0.1}} Gs
                                    </div>
                                </div>
                                <div class="card-footer pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 15 Pro Max'%}">Ver producto</a></div>
                                </div>
                                {% else %}
                                    <span class="fw-bold">No disponible!</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center">
                <h2 class="pb-2 border-bottom mx-auto mb-2 custom-line">iPhone 14 Series</h2>
            </div>
            <div class="text-center mb-2">
                <span>Más pantalla, más potencia y más opciones con la serie iPhone 14.</span>
            </div>
            <section class="py-0 mt-0">
                <div class="container px-4 px-lg-5 mt-0">
                    <div class="row justify-content-center">
                        <div class="col-12 mb-5 col-sm-3">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/14.webp' %}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone 14</h5>
                                        <!-- Product price-->
                                        {% if iphone14.0.1 != 0 %}
                                            <span class="fw-bold">Desde:</span> {{iphone14.0.1}} Gs
                                            </div>
                                </div>
                                            <div class="card-footer pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 14'%}">Ver producto</a></div>
                                            </div>
                                        {% else %}
                                            <span class="fw-bold">No disponible!</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Product actions-->
                        <div class="col-12 mb-5 col-sm-3">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/14plus.webp' %}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone 14 Plus</h5>
                                        <!-- Product price-->
                                        {% if iphone14plus.0.1 != 0 %}
                                            <!-- Product actions-->
                                            <span class="fw-bold">Desde:</span> {{iphone14plus.0.1}} Gs
                                        </div>
                                        </div>
                                            <div class="card-footer pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 14 Plus'%}">Ver producto</a></div>
                                            </div>
                                        {% else %}
                                            <span class="fw-bold">No disponible!</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
            
                        <div class="col-12 mb-5 col-sm-3">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/14pro.webp' %}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone 14 Pro</h5>
                                        <!-- Product price-->
                                        {% if iphone14pro.0.1 != 0 %}
                                            <!-- Product actions-->
                                            <span class="fw-bold">Desde:</span> {{iphone14pro.0.1}} Gs
                                        </div>
                                    </div>
                                            <div class="card-footer pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 14 Pro'%}">Ver producto</a></div>
                                            </div>
                                        {% else %}
                                            <span class="fw-bold">No disponible!</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Product actions-->
                        <div class="col-12 mb-5 col-sm-3">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/14pro max.webp' %}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone 14 Pro Max</h5>
                                        <!-- Product price-->
                                        {% if iphone14promax.0.1 != 0 %}
                                            <!-- Product actions-->
                                            <span class="fw-bold">Desde:</span> {{iphone14promax.0.1}} Gs
                                            </div>
                                        </div>
                                            <div class="card-footer pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 14 Pro Max'%}">Ver producto</a></div>
                                            </div>
                                        {% else %}
                                            <span class="fw-bold">No disponible!</span>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
            </section>
            <!--Section 13-->            
            <div class="text-center">
                <h2 class="pb-2 border-bottom mx-auto mb-2 custom-line">iPhone 13 Series</h2>
            </div>
            <div class="text-center mb-2">
                <span>No hay nada mejor que la serie iPhone 13 en cuanto a potencia, velocidad y estilo.</span>
            </div>
            <section class="py-0 mt-0">
                <div class="container px-4 px-lg-5 mt-0">
                    <div class="row justify-content-center">
                        <div class="col-12 mb-5 col-sm-4 ">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/13.webp'%}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone 13</h5>
                                        <!-- Product price-->
                                        {% if iphone13.0.1 != 0 %}
                                            <span class="fw-bold">Desde:</span> 
                                            {{iphone13.0.1}} Gs
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 13'%}">Ver producto</a></div>
                                        </div>
                                        {%else%}
                                        <span class="fw-bold">No disponible!</span>
                                            </div>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                        <div class="col-12 mb-5 col-sm-4">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/13pro.webp'%}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone 13 Pro</h5>
                                        <!-- Product price-->
                                        {% if iphone13pro.0.1 != 0 %}                                        
                                            <span class="fw-bold">Desde:</span> 
                                            {{iphone13pro.0.1}} Gs
                                        </div>
                                    </div>
                                        <!-- Product actions-->
                                        <div class="card-footer pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 13 Pro'%}">Ver producto</a></div>
                                        </div>
                                        {%else%}
                                        <span class="fw-bold">No disponible!</span>
                                            </div>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                        <div class="col-12 mb-5 col-sm-4 ">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/13pro max.webp'%}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder"> Apple iPhone 13 Pro Max</h5>
                                        <!-- Product price-->
                                        {% if iphone13promax.0.1 != 0 %}
                                            <span class="fw-bold">Desde:</span> 
                                            {{iphone13promax.0.1}} Gs
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 13 Pro Max'%}">Ver producto</a></div>
                                        </div>
                                        {%else%}
                                        <span class="fw-bold">No disponible!</span>
                                            </div>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
            <!-- Section 12-->
            <div class="text-center">
                <h2 class="pb-2 border-bottom mx-auto mb-2 custom-line">iPhone 12 Series</h2>
            </div>
            <div class="text-center mb-2">
                <span>La misma apariencia que los últimos modelos, pero por menos.</span>
            </div>
            <section class="py-0 mt-0">
                <div class="container px-4 px-lg-5 mt-0">
                    <div class="row justify-content-center">
                        <div class="col-12 mb-5 col-sm-4 ">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/12.webp'%}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone 12</h5>
                                        <!-- Product price-->
                                        {% if iphone12.0.1 != 0 %}
                                            <span class="fw-bold">Desde:</span> 
                                            {{iphone12.0.1}} Gs
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 12'%}">Ver producto</a></div>
                                        </div>
                                        {%else%}
                                        <span class="fw-bold">No disponible!</span>
                                            </div>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                        <div class="col-12 mb-5 col-sm-4 ">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/12pro.webp'%}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone 12 Pro</h5>
                                        <!-- Product price-->
                                        {% if iphone12pro.0.1 != 0 %}
                                        <span class="fw-bold">Desde:</span> 
                                        {{iphone12pro.0.1}} Gs
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 12 Pro'%}">Ver producto</a></div>
                                        </div>
                                        {%else%}
                                        <span class="fw-bold">No disponible!</span>
                                            </div>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                        <div class="col-12 mb-5 col-sm-4">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/12pro max.webp'%}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder"> Apple iPhone 12 Pro Max</h5>
                                        <!-- Product price-->
                                        {% if iphone12promax.0.1 != 0 %}
                                            <span class="fw-bold">Desde:</span> 
                                            {{iphone12promax.0.1}} Gs
                                        </div>
                                    </div>
                                            <!-- Product actions-->
                                            <div class="card-footer pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 12 Pro Max'%}">Ver producto</a></div>
                                            </div>
                                        {%else%}
                                        <span class="fw-bold">No disponible!</span>
                                            </div>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
            </section>
            <!-- Section 11-->
            <div class="text-center">
                <h2 class="pb-2 border-bottom mx-auto mb-2 custom-line">iPhone 11 Series</h2>
            </div>
            <div class="text-center mb-2">
                <span>iPhones baratos que siguen siendo modernos.</span>
            </div>
            <section class="py-0 mt-0">
                <div class="container px-4 px-lg-5 mt-0">
                    <div class="row justify-content-center">
                        <div class="col-12 mb-5 col-sm-4 ">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/11.webp'%}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone 11</h5>
                                        <!-- Product price-->
                                        {% if iphone11.0.1 != 0 %}
                                        <span class="fw-bold">Desde:</span> 
                                        {{iphone11.0.1}} Gs
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 11'%}">Ver producto</a></div>
                                        </div>
                                        {%else%}
                                        <span class="fw-bold">No disponible!</span>
                                            </div>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                        <div class="col-12 mb-5 col-sm-4 ">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/11pro.webp'%}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone 11 Pro</h5>
                                        <!-- Product price-->
                                        {% if iphone11pro.0.1 != 0 %}
                                                <span class="fw-bold">Desde:</span> 
                                                {{iphone11pro.0.1}} Gs
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 11 Pro'%}">Ver producto</a></div>
                                        </div>
                                        {%else%}
                                        <span class="fw-bold">No disponible!</span>
                                            </div>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                        <div class="col-12 mb-5 col-sm-4">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/11pro max.webp'%}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder"> Apple iPhone 11 Pro Max</h5>
                                        <!-- Product price-->
                                        {% if iphone11promax.0.1 != 0 %}
                                                <span class="fw-bold">Desde:</span> 
                                                {{iphone11promax.0.1}} Gs
                                            </div>
                                        </div>
                                            <!-- Product actions-->
                                            <div class="card-footer pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 11 Pro Max'%}">Ver producto</a></div>
                                            </div>
                                        {%else%}
                                        <span class="fw-bold">No disponible!</span>
                                        {% endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
            </section>
            <!-- Section 11-->
            <div class="text-center">
                <h2 class="pb-2 border-bottom mx-auto mb-2 custom-line">iPhone X Series y iPhone 8 Series</h2>
            </div>
            <div class="text-center mb-2">
                <span>Teléfonos perfectos para compradores de iPhone por primera vez.</span>
            </div>
            <section class="py-0 mt-0">
                <div class="container px-4 px-lg-5 mt-0">
                    <div class="row justify-content-center">
                        <div class="col-12 mb-5 col-sm-4 ">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/10.webp'%}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone X</h5>
                                        <!-- Product price-->
                                        {% if iphonex.0.1 != 0 %}        
                                            <span class="fw-bold">Desde:</span> 
                                            {{iphonex.0.1}} Gs
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone X'%}">Ver producto</a></div>
                                        </div>
                                        {%else%}
                                        <span class="fw-bold">No disponible!</span>
                                            </div>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                        <div class="col-12 mb-5 col-sm-4 ">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{% static 'img/8plus.webp'%}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body h-100">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Apple iPhone 8 Plus</h5>
                                        <!-- Product price-->
                                        {% if iphone8.0.1 != 0 %}
                                                <span class="fw-bold">Desde:</span> 
                                                {{iphone8.0.1}} Gs
                                            </div>
                                        </div>
                                                <!-- Product actions-->
                                                <div class="card-footer pt-0 border-top-0 bg-transparent">
                                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'verproducto' 'Apple iPhone 8 Plus'%}">Ver producto</a></div>
                                                </div>
                                            {%else%}
                                        <span class="fw-bold">No disponible!</span>
                                            </div>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
            </section>
            <script src="{%static 'js/scripts.js'%}"></script>
    {%endblock%}

</body>
</html>