{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title%}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container px-4 px-lg-1"> 
            <a class="navbar-brand" href="/">
                <img src="{%static 'assets/logoo.png'%}" width="90px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">iPhones</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#!">En stock</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {%block content%}
    {%endblock%}
            <!-- Footer -->
            <footer class="bg-white text-center">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="mb-4 col-12 col-sm-4">
                            <!-- Instagram -->
                            <a data-mdb-ripple-init class="btn btn-outline btn-floating " href="#!" role="button">
                                <i class="bi bi-instagram fw-bold custom-font"></i> directodeusa.py
                            </a>
                            <!-- WSP -->
                            <a data-mdb-ripple-init class="btn btn-outline btn-floating" href="#!" role="button">
                                <i class="bi bi-whatsapp fw-bold custom-font"></i> +595985110487
                            </a>         
                        </div>
                        <div class="mb-4 col-6 col-sm-4">
                            <p class="text-reset">
                                <i class="bi bi-geo-alt-fill custom-font"></i> <span class="">Encarnación, Paraguay</span>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer -->    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>